<header>
  <div class="container">
  <p>データ倉庫</p>
    <nav>
      <ul>
        <li><%= link_to '両リーグ', hitter18_players_path %></li>
        
        <li>〇〇 VS 〇〇</li>
        <li><input type="search"></li>
      </ul>
    </nav>
  </div>
</header>

