<header>
  <div class="container">
  <p>データ倉庫</p>
    <nav>
      <ul>
        <li><%= link_to '両リーグ', players_hitter18_path %></li>
        <li><%= link_to 'セリーグ', hitter_league18_path(id: 1) %></li>
        <li><%= link_to 'パリーグ', hitter_league18_path(id: 2) %></li>
        <li>〇〇 VS 〇〇</li>
        <li><input type="search"></li>
      </ul>
    </nav>
  </div>
</header>

