<header>
  <div class="container">
  <p>データ倉庫</p>
    <nav>
      <ul>
        <li><%= link_to '2018年', hitter18s_path %></li>
        <li><%= link_to 'テストページ', test_path %></li>
      </ul>
    </nav>
  </div>
</header>

